.navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1%;
  width: 100%;
  height: 10vh;

  color: white;
}

.navbar-title {
  font-family: "Barlow", sans-serif;
  font-size: 1.6em;
  color: white;
  text-align: center;
  text-decoration: none;
  align-self: center;
}

.menu-icon {
  color: white;
  font-size: 2em;
  display: none;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 1vh;

  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 1vw 0 1vw;
  padding: 4px;

  color: white;
  text-decoration: none;
  font-size: 0.9em;
  font-family: "Barlow", sans-serif;
}

.nav-item:hover {
  color: rgb(255, 187, 61);
  box-shadow: 0px 4px 2px -2px rgb(255, 187, 61);
}

.nav-item:hover:active {
  box-shadow: 0px 4px 2px 4px rgb(255, 187, 61);
}

@media screen and (max-width: 545px) {
  .navbar-header {
    position: relative;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;

    width: 100vw;
    top: 10vh;
    height: 20vh;
    left: -100%;
    padding: 0;

    position: absolute;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navbar-menu.active {
    background: white;

    margin-left: 5vw;
    width: 90vw;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navbar-menu li {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 2px 4px;
    padding: 2px 0px;
  }

  .nav-item {
    text-align: center;
    color: hsl(232, 10%, 55%);

    padding: 4px 0px;
    margin: 0;
    width: 100%;
    height: auto;
  }

  .nav-item:hover {
    background-color: rgba(230, 230, 230, 0.425);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: calc(10vh * 0.2);
    right: calc(100vw * 0.05);
  }
}
