.first-section {
  background-image: url("../../images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100%;
  height: 100vh;
}

.first-section-wrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.first-section-wrapper h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  margin: 15vh 0;
}
