@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&family=Fraunces:wght@700;900&display=swap");
/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fraunces", serif;
  font-size: 18px;
}
